.projects-section {
  flex: 6;
  display: flex;
  flex-direction: column;
}

.projects-title {
  font-family: Montserrat;
  font-weight: 700;
  font-style: Bold;
  font-size: 44px;
  line-height: 56px;
  letter-spacing: 0%;
  text-align: start;
  margin-top: 53px;
  margin-left: 100px;
}

.projects-container {
  margin-top: 1rem;
  height: 500px;
  width: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.projects {
  margin-left: 200px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 400px;
  height: 500px;
}

.stacked-card {
  position: absolute;
  inset: 0;

  width: 100%;
  height: 100%;

  transition: transform 0.5s ease, opacity 0.4s ease;

  opacity: 0;
  pointer-events: none;
}

.stacked-card {
  transform: translateX(0) scale(1);
}

.stacked-card[style*="--pos: 0"] {
  z-index: 10;
  opacity: 1;
  pointer-events: auto;
}

.stacked-card[style*="--pos: 1"] {
  transform: translateX(-40px) scale(0.95);
  opacity: 0.9;
  z-index: 9;
}

.stacked-card[style*="--pos: 2"] {
  transform: translateX(-80px) scale(0.9);
  opacity: 0.75;
  z-index: 8;
}

.stacked-card[style*="--pos: 3"] {
  transform: translateX(-120px) scale(0.85);
  opacity: 0.6;
  z-index: 7;
}

.stacked-card[style*="--pos: -1"] {
  transform: translateX(120px) scale(0.95);
  opacity: 0;
  z-index: 11;
}

@media (max-width: 768px) {
  .projects {
    margin-left: 15px;
  }

  .projects-container {
    margin-top: 6rem;
  }
}

/* .stacked-card::after {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.35);
  opacity: 0;
  transition: opacity 0.3s ease;
  pointer-events: none;
}

.stacked-card:not([style*="--pos: 0"])::after {
  opacity: 1;
} */
