.case-studies-container {
  background-color: #0e1010;
  height: 700px;
  width: 1280px;
  z-index: 1;
  display: flex;
  border-radius: 12px;
  padding: 3px;
}

@media (max-width: 768px) {
  .case-studies-container {
    flex-direction: column-reverse;
    min-height: 100vh;
    width: 100vw;
    height: auto;
  }
}
